@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

input::placeholder {
  color: #fff; 
  opacity: 1; 
}

.dark input::placeholder {
  color: #bab5b5;
}